---
layout: default
---
<div style="text-align:center;">
  <img style="width:min(170px,50%)" src="assets/logo.png">
  <br/>
  <span style="font-size:23pt;font-weight:bold;">REU Site: Research Experiences for Undergraduates in Disinformation Detection and Analytics</span>
</div>
<table style="margin: 0;">
  <tr>
    <td style="border: hidden; text-align: center; background-color: #f9f9f9; padding: 0.5em;">
      <h2 style="font-size: 16pt;"><strong>Summer 2022 Schedule: <br />June 06, 2022 - August 05, 2022</strong></h2>
      <p style="text-align: start;">Search for "Research Experiences for Undergraduates in Disinformation Detection and Analytics" and click on "Apply Now" button.</p>
      <a class="apply-button" target="_blank"
        href="https://www.nsfetap.org/applicant/opportunity/24895/registration">Apply Now</a>
      <br />
      <i>(You may need to create a NSF ETAP account to apply for the REU program)</i>
    </td>
  </tr>
</table>
<table style="margin: 0;">
  <tr>
    <td style="border: hidden; text-align: center; padding: 0;">
      <div>
        <!-- <img src="assets/odu-image.jpg"> -->
        <img src="assets/flyer.png">
      </div>
    </td>
  </tr>
  <tr>
    <td style="border: hidden; text-align: justify">
      <div style="padding: 0.5em;">
        <p> {{ site.data.info.description_1 }} </p>
        <p> {{ site.data.info.description_2 }} </p>
        <ol>
          {% for objective in site.data.info.objective_list %}
          <li> {{ objective.objective }}</li>
          {% endfor %}
        </ol>
        <p> {{ site.data.info.goal }} </p>
      </div>
    </td>
  </tr>
</table>

<p>Funded by <img style="width:50px;height:50px;" src="assets/nsf-logo.png"> NSF CISE REU Site Award #2149607</p>
<!-- <table>
  <tr>
    <td style="display: flex; align-items: flex-start; padding-bottom: 1em;">
      <div style="width: 10em; height: 10em; padding: 0.5em; margin-left: 0; padding-left: 0;">
        <img style="width: 100%; height: 100%;" src="{{ site.data.info.image | relative_url }}">
      </div>
      <div style="padding: 0.5em;">
        <div style="font-size: 1.5em;">{{ site.data.info.name }}</div>
        <div style="font-size: 1.2em;">{{ site.data.info.designation }}</div>
        <address>
          {% for line in site.data.info.address %}
          {{ line }}<br />
          {% endfor %}
        </address>
        <a href="mailto:{{ site.data.info.email }}">{{ site.data.info.email }}</a>
      </div>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td style="text-align: justify;">
      <h2>About Me</h2>
      {{ site.data.info.about | markdownify }}
    </td>
  </tr>
  <tr>
    <td style="margin-top: 1em;">
      <a href="{{ site.data.info.cv | relative_url }}" target="_blank"><button class="button">See My CV</button></a>
      <a href="https://scholar.google.com/citations?user={{ site.data.info.gs }}" target="_blank"><button class="button">Google Scholar</button></a>
    </td>
  </tr>
</table> -->